body{
    background-color: navy;
}
.margin{
  margin-top: 130px;
  margin-left: -120px;
}
.margin-2{
  margin-top: 260px;
  margin-left: -150px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.margin-3{
  margin-top: 120px;
  margin-right: 20px;
}
.margin-4{
  margin-top: 180px;
}
.margin-5{
  margin-top: 600px;
  margin-left: -360px;
}
.margin-6{
  margin-top: 470px;
  margin-left: -60px;
}
.margin-7{
  margin-top: 570px;
  margin-right: 150px;
}